<mjml>
  <mj-head>
    <mj-title>Title of document</mj-title>
    <mj-breakpoint width="460px" />

    {{> styles }}
    {{> attributes }}

    <mj-raw>
      <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap" rel="stylesheet" type="text/css">
    </mj-raw>

  </mj-head>
  <mj-body mj-class="background">

    <mj-wrapper full-width="full-width" padding="0">
      <mj-section padding="8px 0">
        <mj-column>
          <mj-text css-class="primary-text display-3">Project Blue Delta</mj-text>
        </mj-column>
      </mj-section>
    </mj-wrapper>

    <mj-wrapper full-width="full-width" padding="0">
      <mj-section padding="0">
        <mj-column width="100%">
          <mj-divider mj-class="border-light" padding="0" />
          <mj-spacer height="8px" />
        </mj-column>
      </mj-section>
    </mj-wrapper>

    <mj-wrapper mj-class="px-wrapper">
      <mj-section padding="0">
        <mj-column width="100%" padding-left="24px" mj-class="priority">

          {{> article-box type='priority' label='Priority' labelIcon='./icons/alert.svg' }}

        </mj-column>
      </mj-section>
    </mj-wrapper>
  </mj-body>
</mjml>