<mjml>
  <mj-head>
    <mj-title>Title of document</mj-title>
    <mj-breakpoint width="460px" />

    {{> styles }}
    {{> attributes }}

    <mj-raw>
      <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap" rel="stylesheet" type="text/css">
    </mj-raw>

  </mj-head>
  <mj-body mj-class="background">

    <mj-wrapper full-width="full-width" padding="0">
      <mj-section>
        <mj-column>
          <mj-text css-class="primary-text display-3">Project Blue Delta</mj-text>
        </mj-column>
      </mj-section>
    </mj-wrapper>

    <mj-divider mj-class="border-light" />

    <mj-wrapper css-class="secondary">
      <mj-section>
        <mj-column width="5%">
          empty
        </mj-column>
        <mj-column width="20%" mj-class="priority">
          <mj-raw>
            <div class="priority box-label sans-serif">Priority</div>
          </mj-raw>
        </mj-column>
        <mj-column width="75%">
          
        </mj-column>
      </mj-section>
    </mj-wrapper>
  </mj-body>
</mjml>