.sidebar-column {
  vertical-align: top;
  // > table {
  //   background: url("../assets/img/sidebar-bg.png") no-repeat $light-gray;
  //   min-height: 500px;
  // }
}
.sidebar-image-p1 {
  height: 100px;
  background: url("https://res.cloudinary.com/whynotearth/image/upload/v1585148695/Volkswagen/newsletter1/sidebar-bg_v5faqc.png") no-repeat $light-gray;
  padding: 0 !important;
}
.sidebar-image-p2 {
  background: url("https://res.cloudinary.com/whynotearth/image/upload/v1585148743/Volkswagen/newsletter1/sidebar-bg-p2_be5elv.png") no-repeat $light-gray;
  padding: 0 !important;
}
// .sidebar-image {
// }
.main-column {
  vertical-align: top;
}
