.sidebar-column.sidebar-column.sidebar-column {
  background-image: url("https://res.cloudinary.com/whynotearth/image/upload/v1585485531/Volkswagen/newsletter1/sidebar-bg-gray_wxbuid.png");
  background-repeat: no-repeat;
  background-position: bottom 20px left 10px;
  background-size: 128px auto;
  @media all and (max-width: $global-breakpoint) {
    background: $light-gray !important;
    padding: 0 !important;
    .callout-inner {
      padding-left: 20px !important;
      padding-right: 20px !important;
      .sidebar-content--text {
        padding-left: 20px !important;
      }
    }
  }
  th.callout-inner {
    border: none;
  }
  * {
    word-wrap: break-word;
  }
}
.sidebar-bg-mobile {
  height: 150px !important;
  background: no-repeat
    url("https://res.cloudinary.com/whynotearth/image/upload/v1585260782/Volkswagen/newsletter1/sidebar-bg-mobile_hgs7w1.png") !important;
  background-position: bottom right !important;
}
.square-16 {
  width: 16px;
  height: 16px;
  img {
    padding-top: 4px;
    margin: auto;
  }
}

.article-tab-line {
  background-repeat: repeat-x;
  background-position: bottom left;
  background-size: auto 26px;
}

.article-top-right {
  background-repeat: no-repeat;
  background-position: right bottom;
}

.article-top-icon {
  padding-top: 8px;
  vertical-align: middle;
}

// .date-line {
//   background: url("https://res.cloudinary.com/whynotearth/image/upload/e_colorize:10,co_rgb:000000/v1585254282/Volkswagen/newsletter1/line-1px.png")
//     repeat-x;
//   background-position: center;
// }

// article content
.article-content {
  .callout {
    margin-bottom: 0;
  }
}
.article-callout {
  &.border-width-1 {
    border-left: 1px solid $plant !important;
    border-right: 1px solid $plant !important;
    border-bottom: 1px solid $plant !important;
    border-top: none !important;
  }
  &.border-width-2 {
    border-left: 2px solid $priority !important;
    border-right: 2px solid $priority !important;
    border-bottom: 2px solid $priority !important;
    border-top: none !important;
  }
}

.footer-link:hover {
  cursor: pointer;
}

.border-date {
  height: 1px;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}

// TODO: the class can't assign for td :)
.border-date-outlook {
  background: $light-gray;
  width: 100%;
  height: 1px;
}

.float-center {
  margin: 0 auto !important;
  float: none !important;
  text-align: center !important;
}
