.sidebar-column {
  background: url("https://res.cloudinary.com/whynotearth/image/upload/v1585485531/Volkswagen/newsletter1/sidebar-bg-gray_wxbuid.png")
    no-repeat;
  background-position: bottom 20px left 10px;
  background-size: 126px auto;
  th.callout-inner {
    border: none;
  }
  * {
    word-wrap: break-word;
  }
}
.sidebar-content {
  padding: 10px 0 110px !important;
  background: no-repeat $light-gray;
  @media all and (max-width: $global-breakpoint) {
    background-image: url("https://res.cloudinary.com/whynotearth/image/upload/v1585260782/Volkswagen/newsletter1/sidebar-bg-mobile_hgs7w1.png") !important;
    background-position: bottom right !important;
  }
}
.sidebar-answers-title {
  padding-bottom: 64px;
  padding-left: 24px;
  @media all and (min-width: $global-breakpoint + 1px) {
    display: none !important;
  }
  @media all and (max-width: $global-breakpoint) {
    padding-left: 0 !important;
    padding-bottom: 32px !important;
  }
  .answers-title {
    font-size: 18px !important;
    text-align: left;
    @media all and (max-width: $global-breakpoint) {
      text-align: center !important;
    }
  }
  .answers-title--at {
    font-size: 9px;
    font-weight: 500;
    border-bottom: 1px solid rgba(25, 114, 179, 0.2);
    padding-bottom: 4px;
  }
}
.main-column {
  vertical-align: top;
}

.square-16 {
  width: 16px;
  height: 16px;
  img {
    padding-top: 4px;
    margin: auto;
  }
}

.article-tab-line {
  background-repeat: repeat-x;
  background-position: bottom 8px left;
}

.article-top-right {
  background-repeat: no-repeat;
  background-position: right bottom;
}

.article-top-icon {
  width: 16px !important;
  height: 16px !important;
  padding-left: 8px;
  padding-top: 8px;
  vertical-align: middle;
}

// .date-line {
//   background: url("https://res.cloudinary.com/whynotearth/image/upload/e_colorize:10,co_rgb:000000/v1585254282/Volkswagen/newsletter1/line-1px.png")
//     repeat-x;
//   background-position: center;
// }

// article content
.article-content {
  .callout {
    margin-bottom: 0;
  }
}
.article-callout {
  &.border-width-1 {
    border-left: 1px solid $plant !important;
    border-right: 1px solid $plant !important;
    border-bottom: 1px solid $plant !important;
    border-top: none !important;
  }
  &.border-width-2 {
    border-left: 2px solid $priority !important;
    border-right: 2px solid $priority !important;
    border-bottom: 2px solid $priority !important;
    border-top: none !important;
  }
}

.footer-link:hover {
  cursor: pointer;
}

.border-date {
  height: 1px;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}

// TODO: the class can't assign for td :)
.border-date-outlook {
  background: $light-gray;
  width: 100%;
  height:1px;
}

.float-center {
  margin: 0 auto!important;
  float: none!important;
  text-align: center!important;
}
