// TODO rename
.sidebar-image-p1 {
  height: 102px;
  background: url("https://res.cloudinary.com/whynotearth/image/upload/v1585208946/Volkswagen/newsletter1/sidebar-bg-p1_uffust.png")
    no-repeat;
  background-position: bottom left;
  padding: 0 !important;
}
// TODO rename
.sidebar-image-p2 {
  background: no-repeat $light-gray;
  background-image: url("https://res.cloudinary.com/whynotearth/image/upload/v1585208947/Volkswagen/newsletter1/sidebar-bg-p2_laoqcc.png");
  background-position: top left;
  padding: 10px 0 110px !important;
  @media all and (max-width: $global-breakpoint) {
    background-image: url("https://res.cloudinary.com/whynotearth/image/upload/v1585260782/Volkswagen/newsletter1/sidebar-bg-mobile_hgs7w1.png");
    background-position: bottom right;
  }
}
.sidebar-answers-title {
  padding-bottom: 64px;
  padding-left: 24px;
  @media all and (max-width: $global-breakpoint) {
    padding-left: 0;
    padding-bottom: 32px;
  }
  .answers-title {
    font-size: 18px !important;
    text-align: left;
    @media all and (max-width: $global-breakpoint) {
      text-align: center;
    }
  }
  .answers-title--at {
    font-size: 9px;
    font-weight: 500;
    border-bottom: 1px solid rgba(25, 114, 179, 0.2);
    padding-bottom: 4px;
  }
}
.main-column {
  vertical-align: top;
}

.square-16 {
  width: 16px;
  height: 16px;
  img {
    padding-top: 4px;
    margin: auto;
  }
}

.article-tab-line {
  background-repeat: repeat-x;
  background-position: bottom 8px left;
}

.article-top-right {
  background-repeat: no-repeat;
  background-position: right bottom;
}

.article-top-icon {
  width: 16px;
  height: 16px;
  padding-left: 8px;
  padding-top: 8px;
  vertical-align: middle;
}

.date-line {
  background: url("https://res.cloudinary.com/whynotearth/image/upload/e_colorize:10,co_rgb:000000/v1585254282/Volkswagen/newsletter1/line-1px.png")
    repeat-x;
  background-position: center;
}

// article content
.article-content {
  &.border-width-1 {
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
  }
  &.border-width-2 {
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
  }
}
