body {
  background: $body-background;
}

p,
span,
a {
  margin-bottom: 0;
  line-height: 1.2;
  font-weight: 500;
  font-size: $global-font-size;
  @media only screen and (min-width: #{$global-breakpoint}) {
    font-size: $global-font-size * $global-mobile-font-size-ratio-inversed !important;
  }
}
// small font size like prices
.font-size-small {
  p,
  a,
  span {
    font-weight: 300;
    font-size: $small-font-size * $small-mobile-font-size-ratio;
    @media only screen and (min-width: #{$global-breakpoint}) {
      font-size: $small-font-size !important;
    }
  }
}
small {
  font-weight: 300;
  font-size: $small-font-size * $small-mobile-font-size-ratio;
  @media only screen and (min-width: #{$global-breakpoint}) {
    font-size: $small-font-size !important;
  }
}
h1 {
  font-weight: bold;
  line-height: 56px;
  line-height: 1;
  @media only screen and (min-width: #{$global-breakpoint}) {
    font-size: $h1-font-size * $headers-mobile-font-size-ratio-inversed !important;
  }
}
h2 {
  font-weight: 800;
  line-height: 1.25;
  @media only screen and (min-width: #{$global-breakpoint}) {
    font-size: $h2-font-size * $headers-mobile-font-size-ratio-inversed !important;
  }
}
h3 {
  font-weight: normal;
  line-height: 1.25;
  @media only screen and (min-width: #{$global-breakpoint}) {
    font-size: $h3-font-size * $headers-mobile-font-size-ratio-inversed !important;
  }
}
h4 {
  font-weight: normal;
  line-height: 1.25;
  @media only screen and (min-width: #{$global-breakpoint}) {
    font-size: $h4-font-size * $headers-mobile-font-size-ratio-inversed !important;
  }
}
hr {
  border-width: 1px;
  margin: 0;
  border-top: none;
}

th,
td {
  vertical-align: middle;
}

.container-inner {
  @media only screen and (min-width: #{$global-breakpoint}) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.text-underline {
  text-decoration: underline;
  text-decoration-skip: ink;
}

.button-outlined {
  border: 1px solid $light;
  padding: map-get($button-padding, "large");
  border-radius: $button-radius;
  color: $light;
  font-size: 20px;
  line-height: 1.2;
  &:hover {
    color: $light;
  }
}

.vertical-align-middle-childs {
  * {
    vertical-align: middle;
  }
}

.font-weight-semibold {
  font-weight: 800;
}

.brand-background {
  background: #141527;
  background: linear-gradient(180deg, #010101 0%, rgba(20, 21, 39, 0) 100%),
    linear-gradient(166deg, #141527 9%, #3a3b5e 95%);
}

.brand-gradient-1 {
  background: radial-gradient(50% 49.2% at 0% 0.8%, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), $primary;
}

.primary {
  background-color: $primary;
}
.primary-text {
  color: $primary;
}
.secondary {
  background-color: $secondary;
}
.secondary-text {
  color: $secondary;
}
.background {
  background-color: #ffffff;
}
.background-text {
  color: #ffffff;
}
.surface {
  background-color: #ffffff;
}
.background {
  background-color: $background;
}
.background-text {
  color: $background;
}
.surface-text {
  color: #ffffff;
}
.error {
  background-color: $error;
}
.error-text {
  color: $error;
}

.sans-serif {
  font-family: "Work Sans", Arial, "sans-serif";
}
.display-3 {
  font-size: 48px;
  font-weight: bold;
  line-height: 40px;
}
.display-2 {
  font-size: 48px;
  font-weight: normal;
  line-height: 40px;
}
.display-1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
}
.h1 {
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
}
.h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
}
.h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.body-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.body-1-em-high {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.body-1-em-medium  {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.label {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.border-width-1 {
  border-width: 1px;
}
.border-width-2 {
  border-width: 2px;
}
.box-label {
  top: 2px;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  padding: 0 8px;
  font-size: 9px;
  width: 172px;
  text-align: left;
  > * {
    vertical-align: middle;
    line-height: 16px;
  }
}

.box-content {
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.radius-sm {
  border-radius: 3px 3px 0 0;
}

.print-text {
  color: $print;
}
.body-emphasis {
  background-color: $body-em;
  border-color: $body-em;
}
.body-emphasis-text {
  color: $body-em;
}
.priority {
  background-color: $priority;
  border-color: $priority;
}
.priority-text {
  color: $priority;
}
.people {
  background-color: $people;
  border-color: $people;
}
.people-text {
  color: $people;
}
.plant {
  background-color: $plant;
  border-color: $plant;
}
.plant-text {
  color: $plant;
}
.community {
  background-color: $community;
  border-color: $community;
}
.community-text {
  color: $community;
}
.events {
  background-color: $events;
  border-color: $events;
}
.events-text {
  color: $events;
}

.em-high {
  opacity: 0.84;
}
.em-medium {
  opacity: 0.54;
}
.em-disabled {
  opacity: 0.38;
}
.em-divider {
  opacity: 0.12;
}

.border-light {
  border-color: rgba($black, 0.1) !important;
}

.shadow-1 {
  box-shadow: 0px 1px 3px rgba($black, 0.2), 0px 2px 2px rgba($black, 0.12), 0px 0px 2px rgba($black, 0.14);
}
.shadow-2 {
  box-shadow: 0px 1px 5px rgba($black, 0.2), 0px 3px 4px rgba($black, 0.12), 0px 2px 4px rgba($black, 0.14);
}
.shadow-3 {
  box-shadow: 0px 1px 8px rgba($black, 0.2), 0px 3px 4px rgba($black, 0.12), 0px 3px 3px rgba($black, 0.14);
}
.shadow-4 {
  box-shadow: 0px 1px 10px rgba($black, 0.2), 0px 4px 5px rgba($black, 0.12), 0px 2px 4px rgba($black, 0.14);
}
.shadow-6 {
  box-shadow: 0px 3px 5px rgba($black, 0.2), 0px 1px 18px rgba($black, 0.12), 0px 6px 10px rgba($black, 0.14);
}
.shadow-8 {
  box-shadow: 0px 4px 5px rgba($black, 0.2), 0px 3px 14px rgba($black, 0.12), 0px 8px 10px rgba($black, 0.14);
}
.shadow-9 {
  box-shadow: 0px 5px 6px rgba($black, 0.2), 0px 3px 16px rgba($black, 0.12), 0px 9px 12px rgba($black, 0.14);
}
.shadow-12 {
  box-shadow: 0px 7px 8px rgba($black, 0.2), 0px 5px 22px rgba($black, 0.12), 0px 12px 17px rgba($black, 0.14);
}
.shadow-16 {
  box-shadow: 0px 8px 10px rgba($black, 0.2), 0px 6px 30px rgba($black, 0.12), 0px 16px 24px rgba($black, 0.14);
}
.shadow-24 {
  box-shadow: 0px 11px 15px rgba($black, 0.2), 0px 9px 46px rgba($black, 0.12), 0px 24px 38px rgba($black, 0.14);
}
.shadow-n8 {
  box-shadow: 0px -4px 5px rgba($black, 0.2), 0px -3px 14px rgba($black, 0.12), 0px -8px 10px rgba($black, 0.14);
}
