body {
  background: $body-background;
}
* {
  word-wrap: break-word;
}
img {
  border: 0;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
}
ul {
  padding-left: 0;
  list-style-position: inside;
  margin: 0;
}
td {
  // fix outlook
  // word-break:break-all;
  line-height: 0;
  font-size: 0;
}
p,
span,
a {
  margin-bottom: 0;
  line-height: 1.2;
  font-weight: 500;
  font-size: $global-font-size;
}
// small font size like prices
.font-size-small {
  p,
  a,
  span {
    font-size: $small-font-size;
  }
}
small {
  font-size: $small-font-size;
}
h1 {
  font-weight: bold;
  line-height: 56px;
  line-height: 1;
}
h2 {
  font-weight: 800;
  line-height: 1.25;
}
h3 {
  font-weight: normal;
  line-height: 1.25;
}
h4 {
  font-weight: normal;
  line-height: 1.25;
}
hr {
  border-width: 1px;
  margin: 0;
  border-top: none;
}

.text-underline {
  text-decoration: underline;
  text-decoration-skip: ink;
}

.button-outlined {
  border: 1px solid $light;
  padding: map-get($button-padding, "large");
  border-radius: $button-radius;
  color: $light;
  font-size: 20px;
  line-height: 1.2;
  &:hover {
    color: $light;
  }
}

.layout-fixed {
  table-layout: fixed;
}
.vertical-align-middle {
  vertical-align: middle;
}
.vertical-align-middle-childs {
  * {
    vertical-align: middle;
  }
}

.font-weight-semibold {
  font-weight: 800;
}

.brand-background {
  background: #141527;
  background: linear-gradient(180deg, #010101 0%, rgba(20, 21, 39, 0) 100%),
    linear-gradient(166deg, #141527 9%, #3a3b5e 95%);
}

.brand-gradient-1 {
  background: radial-gradient(50% 49.2% at 0% 0.8%, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), $primary;
}

.primary {
  background-color: $primary;
}
.primary-text {
  color: $primary;
}
.secondary {
  background-color: $secondary;
}
.secondary-text {
  color: $secondary;
}
.background {
  background-color: #ffffff;
}
.background-text {
  color: #ffffff;
}
.surface {
  background-color: #ffffff;
}
.background {
  background-color: $background;
}
.background-text {
  color: $background;
}
.surface-text {
  color: #ffffff;
}
.error {
  background-color: $error;
}
.error-text {
  color: $error;
}
.sans-serif {
  font-family: "Work Sans", Arial, "sans-serif";
}

// custom
.lightgray {
  background-color: $light-gray !important;
}

.display-3 {
  &,
  * {
    font-size: 44px;
    font-weight: bold;
    line-height: 44px;
  }
  @media all and (max-width: $global-breakpoint) {
    &,
    * {
      font-size: 36px;
    }
  }
}
.display-2 {
  &,
  * {
    font-size: 44px;
    font-weight: normal;
    line-height: 40px;
  }
}
.display-1 {
  &,
  * {
    font-size: 36px;
    font-weight: bold;
    line-height: 40px;
  }
}
.h1 {
  &,
  * {
    font-size: 32px;
    font-weight: normal;
    line-height: 38px;
  }
}
.h2 {
  &,
  * {
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
  }
}
.h3 {
  &,
  * {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  }
}
.body-1 {
  &,
  * {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}
.body-1-em-high {
  &,
  * {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }
}
.body-1-em-medium {
  &,
  * {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
}
.body-small {
  &,
  * {
    font-size: 9px;
    font-weight: 400;
    line-height: 1.4;
  }
}
.caption {
  &,
  * {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}
.label {
  &,
  * {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }
}
.large-title {
  &,
  * {
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
  }
}
.print-title {
  &,
  * {
    font-size: 10px;
    font-weight: 600;
    line-height: 1.4;
  }
}
.print-body {
  &,
  * {
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 1.4;
  }
}
// TODO to em-high?
.print-body-em {
  &,
  * {
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 1.4;
  }
}

.print-caps {
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.box-label {
  top: 2px;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  padding: 0 8px;
  font-size: $small-font-size;
  width: 172px;
  text-align: left;
  > * {
    vertical-align: middle;
    line-height: 16px;
  }
}

.radius-sm {
  border-radius: 3px 3px 0 0;
}

.print-border {
  border-color: $print !important;
}
.print-text {
  color: $print !important;
}
.body-em {
  background-color: $body-em;
  border-color: $body-em !important;
}
.body-em-border {
  border-color: $body-em !important;
}
.body-em-text {
  color: $body-em !important;
  font-weight: 600;
}
.priority {
  background-color: $priority;
  border-color: $priority !important;
}
.priority-border {
  border-color: $priority !important;
}
.priority-text {
  color: $priority !important;
}
.people {
  background-color: $people;
  border-color: $people !important;
}
.people-border {
  border-color: $people !important;
}
.people-text {
  color: $people !important;
}
.oneteam {
  background-color: $oneteam;
  border-color: $oneteam !important;
}
.oneteam-border {
  border-color: $oneteam !important;
}
.oneteam-text {
  color: $oneteam !important;
}
.plant {
  background-color: $plant;
  border-color: $plant !important;
}
.plant-border {
  border-color: $plant !important;
}
.plant-text {
  color: $plant !important;
}
.community {
  background-color: $community;
  border-color: $community !important;
}
.community-border {
  border-color: $community !important;
}
.community-text {
  color: $community !important;
}
.events {
  background-color: $events;
  border-color: $events !important;
}
.events-border {
  border-color: $events !important;
}
.events-text {
  color: $events !important;
}

.em-high {
  opacity: 0.84;
}
.em-medium {
  opacity: 0.54;
}
.em-disabled {
  opacity: 0.38;
}
.em-divider {
  opacity: 0.12;
}

.border-light {
  border-color: rgba($black, 0.1) !important !important;
}

.shadow-noname-1 {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}
.shadow-1--no-top {
  box-shadow: 0px 3px 3px rgba($black, 0.075), 0px 3px 2px rgba($black, 0.08), 0px 3px 2px rgba($black, 0.045);
}
.shadow-1 {
  box-shadow: 0px 1px 3px rgba($black, 0.2), 0px 2px 2px rgba($black, 0.12), 0px 0px 2px rgba($black, 0.14);
}
.shadow-2 {
  box-shadow: 0px 1px 5px rgba($black, 0.2), 0px 3px 4px rgba($black, 0.12), 0px 2px 4px rgba($black, 0.14);
}
.shadow-3 {
  box-shadow: 0px 1px 8px rgba($black, 0.2), 0px 3px 4px rgba($black, 0.12), 0px 3px 3px rgba($black, 0.14);
}
.shadow-4 {
  box-shadow: 0px 1px 10px rgba($black, 0.2), 0px 4px 5px rgba($black, 0.12), 0px 2px 4px rgba($black, 0.14);
}
.shadow-6 {
  box-shadow: 0px 3px 5px rgba($black, 0.2), 0px 1px 18px rgba($black, 0.12), 0px 6px 10px rgba($black, 0.14);
}
.shadow-8 {
  box-shadow: 0px 4px 5px rgba($black, 0.2), 0px 3px 14px rgba($black, 0.12), 0px 8px 10px rgba($black, 0.14);
}
.shadow-9 {
  box-shadow: 0px 5px 6px rgba($black, 0.2), 0px 3px 16px rgba($black, 0.12), 0px 9px 12px rgba($black, 0.14);
}
.shadow-12 {
  box-shadow: 0px 7px 8px rgba($black, 0.2), 0px 5px 22px rgba($black, 0.12), 0px 12px 17px rgba($black, 0.14);
}
.shadow-16 {
  box-shadow: 0px 8px 10px rgba($black, 0.2), 0px 6px 30px rgba($black, 0.12), 0px 16px 24px rgba($black, 0.14);
}
.shadow-24 {
  box-shadow: 0px 11px 15px rgba($black, 0.2), 0px 9px 46px rgba($black, 0.12), 0px 24px 38px rgba($black, 0.14);
}
.shadow-n8 {
  box-shadow: 0px -4px 5px rgba($black, 0.2), 0px -3px 14px rgba($black, 0.12), 0px -8px 10px rgba($black, 0.14);
}

// fix foundation center tag bug
td,
th {
  &.columns,
  &.column {
    .column,
    .columns {
      center {
        min-width: 0 !important;
      }
    }
  }
}
// fix foundation .hide-for-large
.hide-for-large2 {
  display: none;
  mso-hide: all; // hide selected elements in Outlook 2007-2013
  overflow: hidden;
  max-height: 0;
  font-size: 0;
  width: 0;
  line-height: 0;

  @media only screen and (max-width: #{$global-breakpoint}) {
    display: block !important;
    width: auto !important;
    overflow: visible !important;
    max-height: none !important;
    font-size: inherit !important;
    line-height: inherit !important;
  }
}

// @media all and (min-width: $global-breakpoint + 1px) {
//   .has-cols-padding {
//     > .columns.large-6 {
//       &.first {
//         padding-right: 4px !important;
//       }
//       &.last {
//         padding-left: 4px !important;
//       }
//     }
//   }
// }

.font-size-0 {
  font-size: 0 !important;
}
.vertical-align-middle {
  vertical-align: middle;
}
