{{set_variable "localContentWidth" (math-minus articleWidth @root.settings.articleLight_ContentStaticPartsWidth)}}
{{set_variable "localLineCenterWidth" (math-minus articleWidth @root.settings.articleLight_StaticPartsWidth)}}

<row>
  <columns class="pb-0">

    {{#> table-mso width=articleWidth }}

      <tr>
        {{> shadow-top-side-articles left=true size=@root.settings.shadowSideSize}}

        <th width="{{@root.settings.articleLight_labelWidth}}" height="26" style="width:{{@root.settings.articleLight_labelWidth}}px;height:26px;" valign="bottom">
          <!-- line left -->
          <img
            style="width:{{@root.settings.articleLight_labelWidth}}px; height:26px;"
            width="{{@root.settings.articleLight_labelWidth}}"
            height="26"
            src="https://res.cloudinary.com/whynotearth/image/upload/e_colorize,co_rgb:{{for_backend "{{category.color}}" category.color}}/l_Volkswagen:newsletter1:label_{{for_backend "{{category.slug}}" category.slug}},co_rgb:{{for_backend "{{category.color}}" category.color}},g_west,x_54,y_-2/v1585236222/Volkswagen/newsletter1/article-top-left-1px-128_ykvwcl.png"
            alt=""
          />
        </th>

        <!-- line center: th outlook -->
        <!--[if mso]>
        <th
          width="{{@root.localLineCenterWidth}}"
          height="26"
          style="width:{{@root.localLineCenterWidth}}px;height:26px;"
          valign="bottom"
          class="article-tab-line {{for_backend "{{category.slug}}" category.slug}}-text"
        >
        <![endif]-->
      
        <!--[if !mso]>-->
        <th
          height="26"
          style="height:26px; background:url(https://res.cloudinary.com/whynotearth/image/upload/e_colorize,co_rgb:{{category.color}}/Volkswagen/newsletter1/line-42-1px-96dpi_r1hupo.png) repeat-x;"
          valign="bottom"
          class="article-tab-line {{for_backend "{{category.slug}}" category.slug}}-text"
          >
        <!--<![endif]-->
          <!--[if mso]>
          <img
              height="26"
              width="{{@root.localLineCenterWidth}}"
              style="height:26px;width:{{@root.localLineCenterWidth}}px;"
              class="float-left"
              src="https://res.cloudinary.com/whynotearth/image/upload/e_colorize,co_rgb:{{category.color}}/Volkswagen/newsletter1/line-42-1px-96dpi_r1hupo.png"
              alt=""
            />
          <![endif]-->
        </th>

        <!-- corner icon -->
        <th valign="bottom" width="32" height="26" style="width:32px; height:26px;">
          <!-- corner icon -->
          <img
            height="16"
            width="32"
            style="width: 32px; height:16px;"
            class="article-top-icon float-left"
            src="{{for_backend "{{cloudinary_transform category.image 'w_128,h_64,c_pad,b_white'}}" (cloudinary_transform category.image 'w_128,h_64,c_pad,b_white') }}"
            alt=""
          />
        </th>

        <!-- line right -->
        <th valign="bottom" width="{{@root.settings.articleLight_lineRightWidth}}" height="26" style="width: {{@root.settings.articleLight_lineRightWidth}}px;" class="article-top-right">
          <img
            class="float-right"
            width="{{@root.settings.articleLight_lineRightWidth}}"
            height="26"
            style="width: {{@root.settings.articleLight_lineRightWidth}}px; height:26px;"
            src="https://res.cloudinary.com/whynotearth/image/upload/e_colorize,co_rgb:{{category.color}}/Volkswagen/newsletter1/line-hv-14-1px-96dpi_azfdfc.png"
            alt=""
          />
        </th>

        {{> shadow-top-side-articles right=true size=@root.settings.shadowSideSize}}
      </tr>
    {{/table-mso }}
  </columns>
</row>

{{#> table-mso width=articleWidth }}
  <tr>
    {{> shadow-side-articles left=true size=@root.settings.shadowSideSize }}

    <td class="wrapper-inner">

      <table class="layout-fixed" style="border-left:1px solid #{{for_backend '{{category.color}}' category.color}}; border-right:1px solid #{{for_backend '{{category.color}}' category.color}}; border-bottom:1px solid #{{for_backend '{{category.color}}' category.color}};">
        <tr>
          <td>
            <table class="layout-fixed">
              <tr>
                <th class="content-wrapper {{contentBoxClass}}">
                  {{> article-content-2 contentWidth=@root.localContentWidth }}
                </th>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>

    {{> shadow-side-articles right=true size=@root.settings.shadowSideSize }}
  </tr>
{{/table-mso }}

{{> shadow-bottom-articles totalWidth=articleWidth size=@root.settings.shadowBottomSize }}

<spacer size="{{@root.settings.spacerBottomArticles}}"></spacer>