<!-- article top -->
<row>
  <columns class="pb-0">
    <table class="w-100 layout-fixed">
      <tr height="26">
        <td width="200px">
          <img
            width="200px"
            height="26"
            src="https://res.cloudinary.com/whynotearth/image/upload/l_text:Work%20Sans_14_bold:PRIORITY,co_rgb:d84e4e,g_west,x_36,y_-2/v1585236221/Volkswagen/newsletter1/article-tab_hmh3aj.png"
            alt=""
          />
        </td>
        <td class="article-tab-line"></td>
        <td width="32" class="">
          <img
            class="article-top-icon"
            src="https://res.cloudinary.com/whynotearth/image/upload/w_16,h_16/v1585211750/Volkswagen/newsletter1/Priority_dpmg21.png"
            alt=""
          />
        </td>
        <td width="32" class="article-top-right"></td>
      </tr>
    </table>
  </columns>
</row>

<!-- article content -->
<row>
  <columns class="article-content priority-border pb-0">
    <div class="p-2">
      <h2 class="large-title primary-text">We need your help to rename our Company newsletter!</h2>
      <div class="em-high body-small">
        <img
          class="float-right pl-2 pb-2"
          src="https://res.cloudinary.com/whynotearth/image/upload/v1585240424/Volkswagen/newsletter1/sample-1_jyuxdx.png"
          alt=""
        />
        <p>
          We received more than 200 entries during our newsletter-renaming submission period. Our committee narrowed it
          down to six choices, but we want you to decide the ultimate winner!
        </p>
        <h3 class="body-em-text mb-0">What should we name our Company newsletter?</h3>
        <ul>
          <li>Daily Drive</li>
          <li>Accelerate</li>
          <li>V-Dub Hub</li>
          <li>The Broadcast</li>
          <li>One Team Update</li>
          <li>Voltage (VOLkswagen TAlk and GEneral information)</li>
        </ul>
        <p>
          Vote by scanning the QR code or by visiting pollev.com/vwchat!
          <span class="body-em-text">Voting ends Friday, March 20.</span>
        </p>
      </div>
    </div>
  </columns>
</row>
