<table class="layout-fixed">
  <tr>
    <td>
      <h2 class="large-title primary-text">
        {{for_backend "{{headline}}" headline }}
      </h2>
    </td>
  </tr>
  <tr>
    <td class="hide-for-large2">
      {{> image-beside-in-article image=image}}
    </td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td
            width="50%"
            class="em-high body-small whitespace-pre-line break-words article-content-1--desc1"
          >
            {{for_backend "{{description}}" description }}
          </td>
          <td width="50%" class="show-for-large">
            {{> image-beside-in-article image=image}}
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td class="em-high body-small whitespace-pre-line break-words">
      {{for_backend "{{description_more}}" description_more }}
    </td>
  </tr>
</table>
