{{set_variable "localContentWidth" (math-minus articleWidth @root.settings.articleLightBig_ContentStaticPartsWidth)}}

<row>
  <columns class="pb-0">

    {{#> table-mso width=articleWidth }}

      <tr>
        {{> shadow-top-side-articles left=true size=@root.settings.shadowSideSize}}

        <th width="{{@root.settings.articleLightBig_labelWidth}}" height="26" style="width:{{@root.settings.articleLightBig_labelWidth}}px;height:26px;" valign="bottom" align="right">
          <img
            style="width:{{@root.settings.articleLightBig_labelWidth}}px; height:26px;"
            class="float-right"
            width="{{@root.settings.articleLightBig_labelWidth}}"
            height="26"
            src="https://res.cloudinary.com/whynotearth/image/upload/e_colorize,co_rgb:{{for_backend '{{category.color}}' category.color}}/l_Volkswagen:newsletter1:label_{{for_backend '{{category.slug}}' category.slug}},co_rgb:{{for_backend '{{category.color}}' category.color}},g_west,x_54,y_-2/v1585236223/Volkswagen/newsletter1/article-top-left-200-1px_xjdqgd.png"
            alt=""
          />
        </th>

        <!-- line center -->
        <!--[if mso]>
        <th
          width="{{math-minus articleWidth @root.settings.articleLightBig_StaticPartsWidth}}"
          height="26"
          style="width:{{math-minus articleWidth @root.settings.articleLightBig_StaticPartsWidth}}px;height:26px;"
          valign="bottom"
          class="article-tab-line {{for_backend '{{category.slug}}' category.slug}}-text"
        >
        <![endif]-->
      
        <!--[if !mso]>-->
        <th
          height="26"
          style="height:26px; background:url(https://res.cloudinary.com/whynotearth/image/upload/e_colorize,co_rgb:{{for_backend '{{category.color}}' category.color}}/Volkswagen/newsletter1/line-258-1px_ohv8oj.png) repeat-x;"
          valign="bottom"
          class="article-tab-line {{for_backend '{{category.slug}}' category.slug}}-text"
          >
        <!--<![endif]-->
          <!--[if mso]>
          <img
              height="26"
              width="{{math-minus articleWidth @root.settings.articleLightBig_StaticPartsWidth}}"
              style="height:26px;width:{{math-minus articleWidth @root.settings.articleLightBig_StaticPartsWidth}}px;"
              class="float-left"
              src="https://res.cloudinary.com/whynotearth/image/upload/e_colorize,co_rgb:{{for_backend '{{category.color}}' category.color}}/Volkswagen/newsletter1/line-258-1px_ohv8oj.png"
              alt=""
            />
          <![endif]-->
        </th>

        <!-- corner icon -->
        <th valign="bottom" width="{{@root.settings.articleLightBig_iconWidth}}" height="26" style="width:{{@root.settings.articleLightBig_iconWidth}}px; height:26px;">
          <!-- corner icon -->
          <img
            height="16"
            width="{{@root.settings.articleLightBig_iconWidth}}"
            style="width: {{@root.settings.articleLightBig_iconWidth}}px; height:16px;"
            class="article-top-icon float-left"
            src="{{for_backend "{{cloudinary_transform category.image 'w_128,h_64,c_pad,b_white'}}" (cloudinary_transform category.image 'w_128,h_64,c_pad,b_white') }}"
            alt=""
          />
        </th>

        <!-- line right -->
        <th valign="bottom" width="{{@root.settings.articleLightBig_lineRightWidth}}" height="26" style="width: {{@root.settings.articleLightBig_lineRightWidth}}px;" class="article-top-right">
          <img
            class="float-right"
            width="{{@root.settings.articleLightBig_lineRightWidth}}"
            height="26"
            style="width: {{@root.settings.articleLightBig_lineRightWidth}}px; height:26px;"
            src="https://res.cloudinary.com/whynotearth/image/upload/e_colorize,co_rgb:{{for_backend '{{category.color}}' category.color}}/Volkswagen/newsletter1/line-hv-14-1px-96dpi_azfdfc.png"
            alt=""
          />
        </th>

        {{> shadow-top-side-articles right=true size=@root.settings.shadowSideSize}}
      </tr>
    {{/table-mso }}
  </columns>
</row>

{{#> table-mso width=articleWidth }}
  <tr>
    {{> shadow-side-articles left=true size=@root.settings.shadowSideSize }}

    <td>
      <table class="layout-fixed" style="border-left:1px solid #{{for_backend '{{category.color}}' category.color}}; border-right:1px solid #{{for_backend '{{category.color}}' category.color}}; border-bottom:1px solid #{{for_backend '{{category.color}}' category.color}};">
        <tr>
          <td>
            <table class="layout-fixed">
              <tr>
                <th class="content-wrapper">
                  {{> article-content-1 contentWidth=@root.localContentWidth }}
                </th>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>

    {{> shadow-side-articles right=true size=@root.settings.shadowSideSize }}
    
  </tr>
{{/table-mso }}

{{> shadow-bottom-articles totalWidth=articleWidth size=@root.settings.shadowBottomSize }}

<spacer size="{{@root.settings.spacerBottomArticles}}"></spacer>
