<!-- article top -->
<row>
  <columns class="pb-0">

    <table class="w-100 layout-fixed">
      <tr height="26">
        <td width="200px">
          <!-- line left -->
          <img
            width="200px"
            height="26"
            src="https://res.cloudinary.com/whynotearth/image/upload/e_colorize,co_rgb:{{boxColorHex}}/l_text:Work%20Sans_14_bold:PRIORITY,co_rgb:d84e4e,g_west,x_36,y_-2/v1585236221/Volkswagen/newsletter1/article-tab_hmh3aj.png"
            alt=""
          />
        </td>
        <!-- line center -->
        <td style="background-image: url('https://res.cloudinary.com/whynotearth/image/upload/e_colorize,co_rgb:{{boxColorHex}}/v1585254282/Volkswagen/newsletter1/line-{{this.borderWidth}}px.png')" class="article-tab-line {{this.type}}-text"></td>
        <td width="32" class="">
          <!-- corner icon -->
          <img
            class="article-top-icon"
            src="{{boxIconSrc}}"
            alt=""
          />
        </td>
        <!-- line right -->
        <td style="background-image: url('https://res.cloudinary.com/whynotearth/image/upload/co_rgb:{{boxColorHex}},e_colorize/v1585257348/Volkswagen/newsletter1/article-top-right-2px.png');" width="32" class="article-top-right"></td>
      </tr>
    </table>
  </columns>
</row>

<!-- article content -->
<row>
  <columns class="article-content {{this.contentBoxClass}} {{this.type}}-border pb-0">
    <div class="p-2">
      {{> article-content-1 }}
    </div>
  </columns>
</row>
