<!--[if !mso]>-->
<table class="layout-fixed" cellspacing="0" cellpadding="0" border="0">
<!--<![endif]-->

<!--[if mso]>
  <table class="layout-fixed" cellspacing="0" cellpadding="0" border="0" width="{{contentWidth}}" style="width:{{contentWidth}}px;">
<![endif]-->
  {{> image-hero-in-article image=image}}

  <tr>
    <td>
      <h2 class="large-title primary-text work-sans">
        <font face="'Work Sans', Arial, sans-serif;">
          {{for_backend "{{headline}}" headline }}
        </font>
      </h2>
    </td>
  </tr>

  <tr>
    <td class="em-high body-small whitespace-pre-line break-words work-sans">
      <font face="'Work Sans', Arial, sans-serif;">
        {{for_backend "{{imageCaption}}" imageCaption }}
      </font>
    </td>
  </tr>
  <tr>
    <td class="em-high body-small whitespace-pre-line break-words work-sans">
      <font face="'Work Sans', Arial, sans-serif;">
        {{{for_backend "{{{description}}}" description }}}
      </font>
    </td>
  </tr>
</table>
