<div class="em-high body-small">
  <img
    class="d-block mx-auto pb-3"
    src="https://res.cloudinary.com/whynotearth/image/upload/v1585240424/Volkswagen/newsletter1/sample-1_jyuxdx.png"
    alt=""
  />
  <h2 class="print-title print-text em-high">One Team Meeting recording available on Dashboard</h2>
  <p>
    We received more than 200 entries during our newsletter-renaming submission period. Our committee narrowed it down
    to six choices, but we want you to decide the ultimate winner!
  </p>
  <h3 class="body-em-text mb-0">What should we name our Company newsletter?</h3>
  <ul>
    <li>Daily Drive</li>
    <li>Accelerate</li>
    <li>V-Dub Hub</li>
    <li>The Broadcast</li>
    <li>One Team Update</li>
    <li>Voltage (VOLkswagen TAlk and GEneral information)</li>
  </ul>
  <p>
    Vote by scanning the QR code or by visiting pollev.com/vwchat!
    <span class="body-em-text">Voting ends Friday, March 20.</span>
  </p>
</div>
