<h2 class="print-title print-text em-high">
  {{for_backend "{{headline}}" headline }}
</h2>
<table>
  <tr>
    <td class="em-high body-small whitespace-pre-line break-words">
      {{for_backend "{{description}}" description }}
    </td>
    <td width="100">
      <img
        width="92"
        height="92"
        style="width: 92px; height: 92px;"
        class="pl-2 pb-2 d-inline ml-auto"
        src="{{for_backend "{{image.url}}" image.url}}"
        alt=""
      />
    </td>
  </tr>
</table>
