<h2 class="print-title print-text em-high">Annual computer-based refresher training now available in SuccessFactors</h2>
<table>
  <tr>
    <td class="em-high body-small">
      <p>
        We received more than 200 entries during our newsletter-renaming submission period. Our committee narrowed it down
        to six choices, but we want you to decide the ultimate winner!
      </p>
      <h3 class="body-em-text mb-0">What should we name our Company newsletter?</h3>
      <ul>
        <li>Daily Drive</li>
        <li>Accelerate</li>
        <li>V-Dub Hub</li>
        <li>The Broadcast</li>
        <li>One Team Update</li>
        <li>Voltage (VOLkswagen TAlk and GEneral information)</li>
      </ul>
      <p>
        Vote by scanning the QR code or by visiting pollev.com/vwchat!
        <span class="body-em-text">Voting ends Friday, March 20.</span>
      </p>
    </td>
    <td width="75">
      <img
        class="pl-2 pb-2"
        src="https://res.cloudinary.com/whynotearth/image/upload/v1585240424/Volkswagen/newsletter1/sample-1_jyuxdx.png"
        alt=""
      />
    </td>
  </tr>
</table>

