

<div class="wrapper article-one-team">
  
  <div class="oneteam-logo">
    <div class="circle">
      <img src="../assets/img/onetime-logo.png">
    </div>
  </div>  
  <div class="wrapper-inner oneteam-body em-high body-small">
    <div>
      <h2 class="print-title print-text em-high">
        One Team Meeting recording available on Dashboard
      </h2>
      
      <h3 class=" print-body body-em-text mb-0 mb-2">
        A recording of last week’s One Team Meeting is available for viewing on Dashboard. 
      </h3>

     
      <p class="mb-2">
        You can access the video at Dashboard>Company Info> News, or click the News quick link on the front page.
      </p>
    </div>
  </div>  
</div>

<spacer class="hide-for-large2" size="30"></spacer>