<!--[if mso]>
<img
  class="show-for-large"
  src="https://res.cloudinary.com/whynotearth/image/upload/e_colorize,co_rgb:{{boxColorHex}}/l_text:Work%20Sans_14_bold:{{labelTitle}},co_rgb:{{boxColorHex}},g_west,x_36,y_-6/l_{{boxIconPath}},h_16,w_16,g_east,x_40,e_colorize,co_rgb:{{boxColorHex}}/Volkswagen/newsletter1/box-label-light-big-2_kvufua.png"
  alt=""
/>
<![endif]-->

<!--[if !mso]><!-->
<row class="hide-for-large2">
  <columns class="pb-0">
    <table class="w-100 layout-fixed">
      <tr height="26">
        <td width="120px">
          <!-- line left -->
          <img
            width="120px"
            height="26"
            src="https://res.cloudinary.com/whynotearth/image/upload/e_colorize,co_rgb:{{this.boxColorHex}}/l_text:Work%20Sans_28_bold:{{this.labelTitle}},co_rgb:{{this.boxColorHex}},g_west,x_56,y_-4/v1585236221/Volkswagen/newsletter1/article-top-left-1px_dhhinz.png"
            alt="{{this.labelTitle}}"
          />
        </td>
        <!-- line center -->
        <td
          style="background-image: url('https://res.cloudinary.com/whynotearth/image/upload/e_colorize,co_rgb:{{this.boxColorHex}}/v1585254282/Volkswagen/newsletter1/line-1px.png')"
          class="article-tab-line {{this.type}}-text"
        ></td>
        <td width="32" class="">
          <!-- corner icon -->
          <img class="article-top-icon" src="{{boxIconSrc}}" alt="" />
        </td>
        <!-- line right -->
        <td
          style="background-image: url('https://res.cloudinary.com/whynotearth/image/upload/co_rgb:{{this.boxColorHex}},e_colorize/v1585257348/Volkswagen/newsletter1/article-top-right-1px.png');"
          width="32"
          class="article-top-right"
        ></td>
      </tr>
    </table>
  </columns>
</row>
<!--<![endif]-->

<wrapper class="article-content {{this.type}}-border p-2">
  <table class="callout">
    <tr>
      <th
        class="callout-inner"
        class="article-callout {{this.contentBoxClass}}"
        style="border-left:1px solid #{{this.boxColorHex}}; border-right:1px solid #{{this.boxColorHex}}; border-bottom:1px solid #{{this.boxColorHex}}; border-top: none;"
      >
        {{> (lookup . 'contentPartial') }}
      </th>
      <th class="expander"></th>
    </tr>
  </table>
</wrapper>
