<table class="wrapper">
  <tr>
    <th align="center" class="wrapper-inner text-center">
      <img
        class="mx-auto d-block"
        src="https://placehold.it/190x90"
        alt=""
      />
    </th>
  </tr>
</table>

<spacer size="20"></spacer>

<table class="em-high body-small">
  <tr>
    <td>
      <div>
        <h2 class="print-title print-text em-high">One Team Meeting recording available on Dashboard</h2>
        <p>
          We received more than 200 entries during our newsletter-renaming submission period. Our committee narrowed it
          down to six choices, but we want you to decide the ultimate winner!
        </p>
        <h3 class="body-em-text mb-0">What should we name our Company newsletter?</h3>
        <ul>
          <li>Daily Drive</li>
          <li>Accelerate</li>
          <li>V-Dub Hub</li>
          <li>The Broadcast</li>
          <li>One Team Update</li>
          <li>Voltage (VOLkswagen TAlk and GEneral information)</li>
        </ul>
        <p>
          Vote by scanning the QR code or by visiting pollev.com/vwchat!
          <span class="body-em-text">Voting ends Friday, March 20.</span>
        </p>
      </div>
    </td>
  </tr>
</table>
