{{#> table-mso width=articleWidth }}
<tr>
  <th class="small-12 large-12 columns first last pb-0">
    {{#> table-mso width=articleWidth }}
    <tr>
      <th>
        {{for_backend "{{#if isOneTeam}}" ""}} {{> article-one-team articleWidth=articleWidth
        contentBoxClass="border-width-0 one-team"}} {{for_backend "{{else}}" ""}} {{> article-light-big
        articleWidth=articleWidth contentBoxClass="border-width-1" }} {{for_backend "{{/if}}" ""}}
      </th>
    </tr>
    {{/table-mso }}
  </th>
</tr>
{{/table-mso }}
