<!-- time row -->
<row class="text-center">
  <columns small="4" large="6" valign="middle">
    <!--[if (mso)|(IE)]>
      <td valign="bottom" class="border-date-outlook"
        style="background:#ededed;width:100%;height:1px;">
    <![endif]-->
    <div class="border-date"></div>
    <!--[if (mso)|(IE)]>
      </td>
    <![endif]-->
  </columns>

  <th class="columns first last py-2 small-4 large-4">
    <table>
      <tr>
        <th class="text-center">
          <span class="px-2 text-nowrap background em-high pb-2"
            ><span>&nbsp;</span>\{{general.date}}<span>&nbsp;</span></span
          >
        </th>
        <th class="expander"></th>
      </tr>
    </table>
  </th>

  <columns small="4" large="2" valign="middle">
    <!--[if (mso)|(IE)]>
    <td valign="bottom" class="border-date-outlook"
      style="background:#ededed;width:100%;height:1px;">
  <![endif]-->
    <div class="border-date"></div>
    <!--[if (mso)|(IE)]>
    </td>
  <![endif]-->
  </columns>
</row>
