<row class="footer d-print-none">
  <columns class="primary" valign="middle" align="center">
    <spacer size="22"></spacer>
    <row>
      <columns>
        <a
          download
          href="https://res.cloudinary.com/whynotearth/image/upload/v1585307027/Volkswagen/newsletter1/newsletter-1_y9u5k5.pdf"
          class="footer-link"
        >
          <center>
            <img
              class="d-block float-center"
              align="center"
              height="18"
              src="https://res.cloudinary.com/whynotearth/image/upload/v1585304432/Volkswagen/newsletter1/icon-print_ywhb8r.png"
              alt=""
            />
          </center>
        </a>
      </columns>
    </row>
  </columns>
</row>
