<row class="footer d-print-none">
  <columns
    small="12"
    large="12"
    valign="middle"
    align="center"
    valign="top"
    class="pb-0 pdf-pr-0"
  >
    <table class="primary layout-fixed" width="100%" style="width:100%" cellspacing="0" cellpadding="0" border="0">
      <tr>
        <th>
          <table cellspacing="0" cellpadding="0" border="0">
            <tr>
              <td height="22px;" style="height:22px;"></td>
            </tr>
          </table>
        </th>
        <th width="20" style="width:20px;"></th>
        <th></th>
      </tr>
      <tr>
        <th></th>
        <th width="20" height="19" style="width:20px;height:19px;">
          <a
            title="Print"
            download
            href="{{for_backend '{{general.print_url}}' general.print_url }}"
            class="footer-link"
          >
            <img
              class="d-block"
              align="left"
              width="20"
              style="width: 20px;"
              src="https://res.cloudinary.com/whynotearth/image/upload/v1585304432/Volkswagen/newsletter1/icon-print_ywhb8r.png"
              alt=""
            />
          </a>
        </th>
        <th></th>
      </tr>
      <tr>
        <th>
          <table cellspacing="0" cellpadding="0" border="0">
            <tr>
              <td height="22px;" style="height:22px;"></td>
            </tr>
          </table>
        </th>
        <th width="20" style="width:20px;"></th>
        <th></th>
      </tr>
    </table>
  </columns>
</row>
