<!-- priority article -->
{{for_backend "{{#if (equals this.category.slug 'priority')}}" ""}}
<row>
  <columns>
    {{> article-bold contentBoxClass="border-width-2"
    contentPartial="article-content-1" }}
  </columns>
</row>
{{for_backend "{{/if}}" ""}}
<!-- end priority article -->

<!-- non-priority article -->
{{for_backend "{{#if (not_equals this.category.slug 'priority')}}" ""}}
<table class="row">
  <tbody>
    <tr>
      <th class="small-12 large-12 columns first last">
        <table cellspacing="0" cellpadding="0" border="0">
          <tr>
            <th>
              {{> article-light-big
              contentBoxClass="border-width-1"
              contentPartial="article-content-3" }}
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </tr>
  </tbody>
</table>
{{for_backend "{{/if}}" ""}}
<!-- end non-priority article -->
