<!-- priority article -->
{{#if (equals article.category.slug 'priority')}} {{#with article}}
<row>
  <columns>
    {{> article-bold type="priority" contentBoxClass="border-width-2"
    contentPartial="article-content-1" }}
  </columns>
</row>
{{/with}} {{/if}}
<!-- end priority article -->

<!-- non-priority article -->
{{#if (not_equals article.category.slug 'priority')}} {{#with article}}
<table class="row">
  <tbody>
    <tr>
      <th class="small-12 large-12 columns first last">
        <table cellspacing="0" cellpadding="0" border="0">
          <tr>
            <th>
              {{> article-light-big type="plant" boxColorHex="8894a0"
              contentBoxClass="border-width-1"
              contentPartial="article-content-3" }}
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </tr>
  </tbody>
</table>
{{/with}} {{/if}}
<!-- end non-priority article -->
