<table>
<tr>
  <td align="center">
  {{for_backend "{{#if image.url}}" ""}}
  {{#if image.url}}

  <img
    class="article-content-1--image"
    align="center"
    width="{{for_backend '{{image.width}}' image.width}}"
    height="{{for_backend '{{image.height}}' image.height}}"
    style="width:{{for_backend '{{image.width}}' image.width}}px;height:{{for_backend '{{image.height}}' image.height}}px;"
    src="{{for_backend "{{image.url}}" image.url}}"
    alt="" />

  {{/if}}
  {{for_backend "{{/if}}" ""}}
  </td>
</tr>

<tr>
  <td class="hide-for-large2">
    <spacer size="8"></spacer>
  </td>
</tr>
</table>