<row class="layout-fixed main-row">
  <!-- main-column -->
  <columns
    small="12"
    large="9"
    class="main-column"
    width="424"
    style="width: 424px;"
    valign="top"
  >
    <spacer size="6"></spacer>
    <row>
      <th class="columns first last py-0">
        <table>
          <tr>
            <th class="text-center">
              <h1 class="primary-text text-center display-3 mb-0 pb-0">{{general.title}}</h1>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>

    <spacer class="show-for-large" size="16"></spacer>

    {{> date-row }}

    <spacer class="hide-for-large2" size="16"></spacer>

    {{#if article1}}
    {{#with article1}}
    <row>
      <columns>
        {{> article-bold type="priority"
        contentBoxClass="border-width-2"
        contentPartial="article-content-1"
        }}
      </columns>
    </row>
    {{/with}}
    {{/if}}

    <table class="row">
      <tbody>
        <tr>
          {{#if article2}}
          {{#with article2}}
          <th class="small-12 large-6 columns first">
            <table cellspacing="0" cellpadding="0" border="0">
              <tr>
                <th>
                  {{> article-light type="oneteam"
                  contentBoxClass="border-width-1"
                  contentPartial="article-content-2"
                  }}
                </th>
                <th class="expander"></th>
              </tr>
            </table>
          </th>
          {{/with}}
          {{/if}}

          <th class="show-for-large" style="font-size: 28px; line-height: 0;">
            &nbsp;
          </th>

          {{#if article3}}
          {{#with article3}}
          <th class="small-12 large-6 columns last">
            <table cellspacing="0" cellpadding="0" border="0">
              <tr>
                <th>
                  {{> article-light type="plant"
                  contentBoxClass="border-width-1"
                  contentPartial="article-content-2"
                  }}
                </th>
                <th class="expander"></th>
              </tr>
            </table>
          </th>
          {{/with}}
          {{/if}}
        </tr>
      </tbody>
    </table>

    {{#if article4}}
    {{#with article4}}
    <table class="row">
      <tbody>
        <tr>
          <th class="small-12 large-12 columns first last">
            <table cellspacing="0" cellpadding="0" border="0">
              <tr>
                <th>
                  {{> article-light-big type="plant"
                  boxColorHex="8894a0" contentBoxClass="border-width-1"
                  contentPartial="article-content-3"
                  }}
                </th>
                <th class="expander"></th>
              </tr>
            </table>
          </th>
        </tr>
      </tbody>
    </table>
    {{/with}}
    {{/if}}
  </columns>

  {{#with article0}}
  {{> sidebar }}
  {{/with}}
</row>

{{> footer }}
