<row class="layout-fixed main-row">
  <!-- main-column -->
  <columns
    small="12"
    large="9"
    class="main-column"
    width="424"
    style="width: 424px;"
    valign="top"
  >
    <spacer size="6"></spacer>
    <row>
      <th class="columns first last py-0">
        <table>
          <tr>
            <th class="text-center">
              <h1 class="primary-text text-center display-3 mb-0 pb-0">{{for_backend "{{general.title}}" general.title}}</h1>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>

    <spacer class="show-for-large" size="16"></spacer>

    {{> date-row-right }}

    <spacer class="hide-for-large2" size="16"></spacer>

    {{for_backend "{{#each articlesTop }}" ""}}
    {{#each articlesTop }}
    <!-- priority article -->
    <row>
      <columns>
        {{> article-bold articleWidth="424" contentBoxClass="border-width-2"
        contentPartial="article-content-1" }}
      </columns>
    </row>
    <!-- end priority article -->
    {{/each}}
    {{for_backend "{{/each}}" ""}}
    
    {{for_backend "{{#with articlesMiddle}}" ""}}
    {{#with articlesMiddle}}
    {{> group-article-double articleWidth="208" }}
    {{/with}}
    {{for_backend "{{/with}}" ""}}

    {{for_backend "{{#each articlesBottom }}" ""}}
    {{#each articlesBottom }}
    <table class="row">
      <tbody>
        <tr>
          <th class="small-12 large-12 columns first last">
            <table cellspacing="0" cellpadding="0" border="0">
              <tr>
                <th>
                  {{> article-light-big
                  articleWidth="424"
                  contentBoxClass="border-width-1"
                  contentPartial="article-content-3" }}
                </th>
                <th class="expander"></th>
              </tr>
            </table>
          </th>
        </tr>
      </tbody>
    </table>
    {{/each}}
    {{for_backend "{{/each}}" ""}}

  </columns>

  {{> sidebar }}
</row>

{{> footer }}
