<!--[if !mso]>-->
<table class="wrapper layout-fixed" width="100%" style="width: 100%;" cellspacing="0" cellpadding="0" border="0">
  <!--<![endif]-->
  <!--[if mso]>
  <table class="wrapper layout-fixed" width="{{totalWidth}}" style="width:{{totalWidth}}px;" cellspacing="0" cellpadding="0" border="0">
  <![endif]-->
  <tr>
    <td width="2" height="2" class="shadow-bg-1"></td>
    <td width="2" height="2" class="shadow-bg-2"></td>
    <td height="2" class="shadow-bg-3"></td>
    <td width="2" height="2" class="shadow-bg-2"></td>
    <td width="2" height="2" class="shadow-bg-1"></td>
  </tr>
  <tr>
    <td width="2" height="2" class="shadow-bg-1"></td>
    <td width="2" height="2" class="shadow-bg-2"></td>
    <td height="2" class="shadow-bg-4"></td>
    <td width="2" height="2" class="shadow-bg-2"></td>
    <td width="2" height="2" class="shadow-bg-1"></td>
  </tr>
  <tr>
    <td colspan="5" height="2" class="shadow-bg-1"></td>
  </tr>
</table>
