<!-- sidebar -->
<columns small="12" large="3" class="sidebar-column" valign="top">
  <table class="callout mb-0 show-for-large">
    <tr>
      <th class="callout-inner p-0">
        <!-- https://res.cloudinary.com/whynotearth/image/upload/v1585302716/Volkswagen/newsletter1/sidebar-whole-bg-white_fbzz55.png -->

        <img
          width="131"
          src="https://res.cloudinary.com/whynotearth/image/upload/v1585474638/Volkswagen/newsletter1/wheel-1x_p6t1ln.png"
          alt=""
        />
      </th>
      <th class="expander"></th>
    </tr>
  </table>

  <table class="callout">
    <tr>
      <th class="callout-inner py-0" background="#ededed" style="background-color: #ededed;">
        <img
          class="d-block mb-0 pb-0"
          src="https://res.cloudinary.com/whynotearth/image/upload/v1585156310/Volkswagen/newsletter1/question-icon_bqj7rs.png"
          alt=""
        />
      </th>
      <th class="expander"></th>
    </tr>

    <tr>
      <th class="callout-inner" background="#ededed" style="background-color: #ededed;">
        <p class="mb-4 print-body-em">Why are fans on the bridge running even though it’s cold outside?</p>
      </th>
      <th class="expander"></th>
    </tr>

    <tr>
      <th class="callout-inner py-0" background="#ededed" style="background-color: #ededed;">
        <img
          class="d-block mb-0 pb-0"
          src="https://res.cloudinary.com/whynotearth/image/upload/v1585156310/Volkswagen/newsletter1/answer-icon_rubvj4.png"
          alt=""
        />
      </th>
      <th class="expander"></th>
    </tr>

    <tr>
      <th class="callout-inner" background="#ededed" style="background-color: #ededed;">
        <p class="mb-0 body-small">
          We utilized fans to help dry condensation on the bridge floor. You may occasionally see these fans running
          despite the cooler temperature.
        </p>
      </th>
      <th class="expander"></th>
    </tr>
  </table>
</columns>
