<!-- sidebar -->
<columns small="12" large="3" class="sidebar-column" valign="top" width="128" style="width: 128px">
  
  <!--[if !mso]><!-->
  <spacer class="hide-for-large2" size="20"></spacer>
  
  <div class="hide-for-large2">

    <table class="wrapper">
      <tr>
        <th class="wrapper-inner">
          <center>
            <img
            width="190"
            style="width: 190px;"
            class="d-block float-center"
            align="center"
            src="https://res.cloudinary.com/whynotearth/image/upload/v1586189259/Volkswagen/newsletter1/answers-glance_nqilnt.png"
            alt=""
            />
          </center>
        </th>
      </tr>
    </table>
  </div>

  <spacer class="hide-for-large2" size="40"></spacer>
  <!--<![endif]-->
  
  <table class="callout mb-0 show-for-large">
    <tr>
      <th class="callout-inner p-0" width="128" style="width:128px;">
        <img
          width="128"
          style="width:128px;"
          src="https://res.cloudinary.com/whynotearth/image/upload/v1586239713/Volkswagen/newsletter1/wheel-128-2x_kyeyij.png"
          alt=""
        />
      </th>

      <th class="expander"></th>
    </tr>
  </table>

  {{for_backend "{{#if headline}}" ""}}
  <table class="callout">
    <tr>
      <th class="callout-inner py-0" bgcolor="#ededed" style="background-color: #ededed;">
        <img
          class="d-block mb-0 pb-0"
          src="https://res.cloudinary.com/whynotearth/image/upload/v1585156310/Volkswagen/newsletter1/question-icon_bqj7rs.png"
          alt=""
        />
      </th>
      <th class="expander"></th>
    </tr>

    <tr>
      <th class="callout-inner" bgcolor="#ededed" style="background-color: #ededed;">
        <p class="mb-4 print-body-em sidebar-content--text">
          {{for_backend "{{headline}}" headline }}
        </p>
      </th>
      <th class="expander"></th>
    </tr>

    <tr>
      <th class="callout-inner py-0" bgcolor="#ededed" style="background-color: #ededed;">
        <img
          class="d-block mb-0 pb-0"
          src="https://res.cloudinary.com/whynotearth/image/upload/v1585156310/Volkswagen/newsletter1/answer-icon_rubvj4.png"
          alt=""
        />
      </th>
      <th class="expander"></th>
    </tr>

    <tr>
      <th class="callout-inner" bgcolor="#ededed" style="background-color: #ededed;">
        <p class="mb-0 body-small sidebar-content--text">
          {{for_backend "{{description}}" description }}
        </p>
      </th>
      <th class="expander"></th>
    </tr>
  </table>
  {{for_backend "{{/if}}" ""}}

  <!--[if !mso]><!-->
  <div class="hide-for-large2">
    <div class="sidebar-bg-mobile"></div>
  </div>
  <!--<![endif]-->
</columns>
