<!-- sidebar -->
<columns small="12" large="3" class="sidebar-column pr-2" valign="top">
  <spacer class="background" size="6"> </spacer>

  <wrapper class="mb-0">
    <img
      width="131"
      src="https://res.cloudinary.com/whynotearth/image/upload/v1585302716/Volkswagen/newsletter1/sidebar-whole-bg-white_fbzz55.png"
      alt=""
    />
  </wrapper>

  <wrapper class="lightgray">

    <spacer size="28"></spacer>


    <table class="callout">
      <tr>
        <th class="callout-inner lightgray">
          <img
            class="d-block mb-2"
            src="https://res.cloudinary.com/whynotearth/image/upload/v1585156310/Volkswagen/newsletter1/question-icon_bqj7rs.png"
            alt=""
          />

          <p class="mb-4 print-body-em">Why are fans on the bridge running even though it’s cold outside?</p>

          <img
            class="d-block mb-2"
            src="https://res.cloudinary.com/whynotearth/image/upload/v1585156310/Volkswagen/newsletter1/answer-icon_rubvj4.png"
            alt=""
          />

          <p class="mb-0 body-small">
            We utilized fans to help dry condensation on the bridge floor. You may occasionally see these fans running
            despite the cooler temperature.
          </p>
        </th>
        <th class="expander"></th>
      </tr>
    </table>
  </wrapper>
</columns>
